[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eNchange"]
	path = eNchange
	url = https://github.com/cran/eNchange
[submodule "segMGarch"]
	path = segMGarch
	url = https://github.com/cran/segMGarch
[submodule "wbsts"]
	path = wbsts
	url = https://github.com/cran/wbsts
